<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
   <section>
     <div class="imgBx">
         <img src="/img/login.jpeg">
     </div>
     <div class="contenBx">
         <div class="formBx">
             <h2>Login</h2>
             <form action="./loguear" id="forLog" name="forLog" method="post">
                 <div class="inputBx">
                     <span>Username</span>
                     <input type="text"name="usuNom"id="usuNom">
                 </div>

                 <div class="inputBx">
                    <span>Password</span>
                    <input type="password"name="usuClave"id="usuClave">
                </div>
                <div class="inputBx">
                    <input type="submit" value="Sign in"name="">
                </div>
                <div class="inputBx">
                    <p>Don't have an account?<a href="/fragileocean/registrarU">Sign up</a></p>
                </div>
             </form>
             <h3>Login with social media</h3>
             <ul class="sci">
                 <li><img src="facebook.png"></li>
                 <li><img src="twitter.png"></li>
                 <li><img src="instagram.png"></li>
             </ul>
         </div>
     </div>
    </section>
</body>
</html>