<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Este es el Index</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="estilo.css">
    <title>Mind Gear</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>
<body>
   <h1>Titulo de mi sitio web index</h1>
   <h2><%=titulo %></h2>
   <div class="back" id="home">
     <div class="overlay">
        <ul class="header-btn">
                <li><a href="/fragileocean/login" class="main-btn btn-one">Iniciar Sesión</a></li>
                <li><a href="/fragileocean/registrarU" class="main-btn btn-two">Registrarse</a></li>
        </ul>


   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="/js/bootstrap.min.js"></script>
</div>
</div>
</body>
</html>