<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Principal_1.css">
    <title>FragileOcean</title>
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <a href="#" class="logo">
                <h1>FragileOcean</h1>
            </a>
            <ul>
                <li><a class="active" href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Participa</a></li>
                <li><a href="#">Explorar</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="title">
                Ayuda al mundo con
                <div class="slider">
                    <div>RECICLAJE</div>
                    <div>LIMPIEZA</div>
                    <div>DEDICACIÓN</div>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt magnam nisi dolores vero explicabo placeat dignissimos fuga ea, repellendus minus inventore tenetur? Laboriosam reiciendis temporibus similique dicta fugit neque velit.</p>
            <a href="/fragileocean/login"><button type="button">Iniciar Sesión</button></a>
            <a href="/fragileocean/registrarU"><button type="button">Registrarse</button></a>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>

</html>